@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb; /* Garante que o fundo não seja transparente/branco puro */
}

h1, h2, h3, h4, .font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

@keyframes slideIn {
  from {
      transform: translateY(100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out forwards;
}